.example-h2 {
  margin: 5px;
}

.example-margin {
    margin: 5px;
  }
.result{
  margin: 15px;
}
.mat-slider-horizontal {
  width: 300px;
}
table {
  margin: 0 auto ;
  text-align: center;
}
button {
 color: red;
}

.mat-mini-fab.custom
{
  background-color:burlywood;
}

.mat-header-cell.custom{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}