
     <!-- <div class="temp" >
      
    <div class="form-group">
          <label for="usr">Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="phone">Phone Number:</label>
          <input type="text" class="form-control" id="phone">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
         <textarea name="comment" class="form-control" id="comment">Enter your Comments here</textarea>
        </div>
      <button type="button" class="btn btn-primary">Submit</button> </div>-->
    
  
     <form class="contact-form">
        <mat-form-field class="contact-full-width">
          <input matInput placeholder="Name" />
        </mat-form-field>
        <br/>
        <mat-form-field class="contact-full-width">
            <input matInput placeholder="Phone Number" />
          </mat-form-field>
          <br/>
          <mat-form-field class="contact-full-width">
              <input matInput placeholder="Email" />
            </mat-form-field>
            <br/>
        <mat-form-field class="contact-full-width">
          <textarea matInput placeholder="Comment">Enter your comments</textarea>
        </mat-form-field>
        <br/>
        <button mat-raised-button color="primary">Submit</button>

      </form>
      