<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>

<img width="200" class= "center" alt="" src="../assets/download.jpg">
<div class="button-format" >
<button mat-flat-button color="accent"  class="button-format-width"  routerLink = "/about" >ABOUT</button>
<button mat-flat-button color="accent"  class="button-format-width"  routerLink = "/project" >PROJECT</button>
<button mat-flat-button color="accent"  class="button-format-width"  routerLink = "/code" >CODE</button>
<button mat-flat-button color="accent" class="button-format-width" routerLink = "/contact" >CONTACT</button>
</div>

<router-outlet></router-outlet>